.welcome-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.welcome-page-title {
    font-size: 85px;
    color: red;
    margin-bottom: 1rem;
}

.welcome-page-sub-title {
    font-size: 1.5rem;
    color: #424141;
    margin-bottom: 2rem;
}

.welcome-page-play-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.welcome-page-play-button:hover{
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
